<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Ecuador Estate
  ~    __________________
  ~
  ~    2017   Ecuador Estate
  ~    All Rights Reserved.
  ~
  ~    NOTICE:  All information contained herein is, and remains
  ~    the property of   Ecuador Estate and its suppliers,
  ~    if any.  The intellectual and technical concepts contained
  ~    herein are proprietary to   Ecuador Estate
  ~    and its suppliers and may be covered by German and Foreign Patents,
  ~    patents in process, and are protected by trade secret or copyright law.
  ~    Dissemination of this information or reproduction of this material
  ~    is strictly forbidden unless prior written permission is obtained
  ~    from    Ecuador Estate.
  ~
  -->

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ecuador ">
    <meta name="author" content="Ecuador Estate">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

    <title>Ecuador Estate</title>

</head>
<body ng-app="ecu-estate" ng-controller="TemplateController">
<div></div>
<div class="brand">Ecuador Estate</div>
<div class="address-bar">Grundstücke und Gebäude in Ecuador</div>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="/">Ecuador Estate</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="about">Informationen</a>
                </li>
                <li>
                    <a href="#!/offer">Angebote <span class="badge badge-pill badge-success">{{counter}}</span></a>
                </li>
                <li>
                    <a href="#!/contact/">Kontakt</a>
                </li>
                <li ng-show="isLoggedIn">
                    <a href="#!/login">Adminbereich</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div ng-view></div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; Ecuador Estate <span>{{date | date:'yyyy'}}</span></p>
            </div>
        </div>
    </div>
</footer>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="app/app.js"></script>
<script src="template.js"></script>
<script src="app/main/landing.js"></script>
<script src="app/offers/offer.js"></script>
<script src="app/admin/admin.js"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-84419405-1', 'auto');
    ga('send', 'pageview');

</script>
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic"
      rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="base.css" rel="stylesheet" type="text/css">
<link href="business-casual.css" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>